{% extends 'base.html' %}

{% block content %}

{% load static %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        body {
            /* background-color: #FDFFFB; */
            background-image: url('https://e1.pxfuel.com/desktop-wallpaper/48/879/desktop-wallpaper-green-python-green-snake-tree-branch-reptile-coiled-snake-animals-green-tree-python.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Open Sans', sans-serif;
        }

        table, th, td, h1 {
            margin-left: 20px;
            margin-right: 20px;
        }

        h5, p {
            margin-left: 12px;
            margin-right: 12px;
        }

        table, th, td {
            width: 100%;
            border: 2px solid rgba(255,255,255,0.1);
            border-collapse: collapse;
            padding: 16px;

        }

        label, td, h1, h5, p {
            color: #FDFFFB;
        }

        table {
            width: 1360px;
            background-color: rgba(255,255,255,0.13);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding-left: 20px;
            padding-right: 20px;
        }

        .label-container {
            width: 360px;
            background-color: rgba(255,255,255,0.13);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            margin-bottom: 20px;
            margin-left: 20px;
        }

        th {
            background-color: #54BF21;
            color: #FFF;
        }

        h1 {
            padding-top: 12px;
            text-align: center;
            font-family: 'Crimson Text', serif;
            font-size: 64px;
            color: #FDFFFB;
        }

        h5 {
            padding-top: 21px;
            font-family: 'Crimson Text', serif;
            font-size: 24px;
            color: #FDFFFB;
        }

        h6 {
            padding-top: 20px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            color: #FDFFFB;
            margin-left: 20px;
        }

        h5, p {
            padding-left: 20px;
        }

        th:nth-child(1) {
            border-radius: 10px 0 0 0;
        }

        th:nth-child(7) {
            border-radius: 0 10px 0 0;
        }

        td:nth-child(1) {
            border-radius: 0 0 0 10px;
        }

        td:nth-child(7) {
            border-radius: 0 0 10px 0;
        }

         /* Set the percentage widths for each column */
        th:nth-child(1), td:nth-child(1) {
            width: 15%;
        }

        th:nth-child(2), td:nth-child(2) {
            width: 20%;
        }

        th:nth-child(3), td:nth-child(3) {
            width: 10%;
            text-align: center;
        }

        th:nth-child(4), td:nth-child(4) {
            width: 5%;
            text-align: center;
        }

        th:nth-child(5), td:nth-child(5) {
            width: 32%;
        }

        th:nth-child(6), td:nth-child(6) {
            width: 12%;
            text-align: center;
        }

        th:nth-child(6), td:nth-child(7) {
            width: 8%;
            text-align: center;
            align-items: center;
        }

        .button-primary {
            display: flex;
            padding: 16px 28px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 16px;
            border: none;
            background: #54BF21;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        a {
            text-decoration: none;
        }

        a[href="{% url 'main:logout' %}"] .button-primary {
            background: #AF2323;
            margin-bottom: 0px;
        }
        
        .button-secondary {
            display: flex;
            padding: 12px 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border: 2px solid #54BF21;
            background: none;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }

        .button-secondary2 {
            display: flex;
            padding: 16px 28px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border: 2px solid #54BF21;
            background: none;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
        }

        .button-secondary.delete-button {
            display: flex;
            padding: 12px 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 12px;
            border: 2px solid #AF2323;
            background: none;
            color: #FFF;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 0;
        }
        
        .navbar {
            background-color: #060F02;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            color: #FFF;
        }

        .logo {
            font-size: 24px;
            font-weight: bold;

        }

        .nav-links {
            display: flex;
            gap: 20px;
        }

        .nav-links a {
            text-decoration: none;
            color: #FFF;
        }
    </style>

    <div class="navbar">
        <div class="logo">
            <img src="https://user-images.githubusercontent.com/119391657/272463956-10e10be9-7aa5-4653-b77f-71bedd6eb6e5.png" alt="Logo">

        </div>
        <div class="nav-links">
            <a href="#">Home</a>
        </div>
        <a href="{% url 'main:logout' %}">
            <button class="button-primary">
                Logout
            </button>
        </a>
    </div>

    <h1>Serpent's Haven</h1>
    
    <div class="label-container">
        <h5>Name:</h5>
        <p>{{name}}</p>
    
        <h5>Class:</h5>
        <p>{{class}}</p>
    </div>

    <table id="item_table"></table>

    <script>
        async function getItems() {
            return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
        }

        async function refreshItems() {
            document.getElementById("item_table").innerHTML = ""
            const items = await getItems()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Morph</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Date Added</th>
            </tr>`
            items.forEach((snake) => {
                htmlString += `\n<tr>
                <td>${snake.fields.name}</td>
                <td>${snake.fields.morph}</td>
                <td>${snake.fields.price}</td>
                <td>${snake.fields.amount}</td>
                <td>${snake.fields.description}</td>
                <td>${snake.fields.date_added}</td>
            </tr>` 
            })
            
            document.getElementById("item_table").innerHTML = htmlString

        function addItem() {
            fetch("{% url 'main:add_item_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#form'))
            }).then(refreshItems)

            document.getElementById("form").reset()
            return false
        }

        document.getElementById("button_add").onclick = addItem
        }

        refreshItems()
    </script>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content label-container">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="morph" class="col-form-label">Morph:</label>
                            <input type="text" class="form-control" id="morph" name="morph"></input>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="col-form-label">Price:</label>
                            <input type="number" class="form-control" id="price" name="price"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-secondary2" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn button-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <table>
        <tr>
            <th>Name</th>
            <th>Morph</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Edit</th>
        </tr>

        {% for item in items %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.morph}}</td>
                <td>{{item.price}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_item' item.pk %}">
                        <button class="button-secondary">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_item' item.pk %}">
                        <button class="button-secondary delete-button">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table> -->
<br />

<button type="button" class="btn button-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product by AJAX</button>

<a href="{% url 'main:create_item' %}">
    <button class="button-primary">
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button class="button-primary">
        Logout
    </button>
</a>

<h6>Sesi terakhir login: {{ last_login }}</h6>

{% endblock content %}